@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,376;1,6..12,376&family=Nunito:ital,wght@0,632;1,632&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,376;1,6..12,376&family=Nunito:ital,wght@0,700;1,700&family=Roboto+Slab:wght@100..900&display=swap');

.aboutUs{
    background-image: url(/src/carImages/bmw.jpg);
    background-size: cover;
    height: 95vh;
}

#navbar{
    position: relative;
    top: 30px;
    background-color: #E9EBEC;
}

#logo{
    color: #fc2626;
    font-weight: 500;
    text-decoration-style: none;
}

#logo:first-child{
    text-decoration:underline  double;

}

.navlinks{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 376;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.navlinks :hover{
    color: red;
}

#aboutus{
    color: #fb2726;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 376;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.AboutUsDescription {
    position: relative;
    bottom: 70px;
    background-color: #dee4e7;
    opacity: 0.9;
}

.AboutUsDescription h2{
    letter-spacing: 4px;
    font-weight: 500;
    
}

.AboutUsDescription h2::first-letter{
    text-decoration: underline;
    color: #fc2626;
}

.carDealer{
    font-size: 29px;
}

.carDealer article{
    letter-spacing: 1px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.myFooter{
    background-color: #000000;
    margin: 90px 0 0;
}

.myFooter p{
    font-size: smaller;
    margin-top: 20px;
}